.rsvp_row {
	@extend .grid-x; //Foundations XY Grid class
}//end .sl_row

.rsvp_column {
	@extend .grid-y; //Foundations XY Grid class
}//end .sl_column

.rspv_cell {
	@extend .cell;//Foundations XY Grid class
}//end .sl_cell