.rsvp_filters {
	padding-bottom: $spacing--xxl;
	border-bottom: 1px solid get-color(accent3);
	margin-bottom: $spacing--sm;

	& > h2 {
		font-size: rem-calc(36px);
		color: get-color(default);
		letter-spacing: -34px;
		margin-bottom: $spacing--xs;
		font-weight: $font-weight--regular;
	}//end & > h2

	& > p {
		font-size: 1.25rem;
	}//end & > p

	&__input {

		& > .rsvp_row {
			margin-left: -$spacing--xs;
			margin-right: -$spacing--xs;
			padding-bottom: $spacing--lg;

			& > .rsvp_cell {
				padding: 0 $spacing--xs;
			}//end & > .rsvp_cell
		}//& > .rsvp_row

		label {
			font-weight: $font-weight--bold;
			color: #333333;
			font-size: 1.125rem;
			margin-bottom: $spacing--xs/2;
		}//end label

		input, select {
			width: 100%;
			height: 60px;
			border: 1px solid get-color(accent3);
			font-size: 1.125rem;
			font-weight: $font-weight--bold;
			padding: $spacing--xs;
			color: #333333;
			border-radius: 0;

			&:focus {
				box-shadow: inset 1px 1px 6px 0 rgba(0,0,0,0.50);
				outline: none;
				border-radius: 0;
			}//end &focus
		}//end input, select

		select {
			padding-right: $spacing--sm;
		}//end select
	}//end &__input
}//end .rspv_filters