.rsvp_list {
	padding: $spacing--xxl 0;

	& > h2 {
		font-size: rem-calc(36px);
		color: get-color(default);
		letter-spacing: -34px;
		margin-bottom: $spacing--xs;
		font-weight: $font-weight--regular;
	}//end & > h2

	& > p {
		font-size: 1.25rem;
	}//end & > p

	&__seminars {
		padding-top: $spacing--xl;
	}//end &__seminars

	&__card {
		& > .rsvp_row {
			& > .rsvp_cell {
				padding: 0 $spacing--xs;

				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint

				&:last-of-type {
					text-align: center;
				}
			}
		}
	}

	&__date {
		text-align: center;
		padding-left: 0 !important;
		padding-right: $spacing--sm !important;
		position: relative;

		@include breakpoint (small down) {
			display: none;
		}//end small down breakpoint

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 1px;
			height: 75px;
			background-color: get-color(accent3);

		}//end &:after
	}//end &__date

	&__month {
		font-size: 1.5rem;
		text-transform: uppercase;
		color: get-color(default) !important;
		letter-spacing: 1px;
		margin-bottom: 0;
	}//end &__month

	&__day {
		font-size: rem-calc(40px) !important;
		color: get-color(default) !important;
		letter-spacing: 1px;
	}//end &__day

	&__info {
		padding-left: $spacing--sm !important;

		h3 {
			color: get-color(default);
			font-size: rem-calc(28px);
		}//end h3

		@include breakpoint (small down) {
			padding: 0 !important;
		}//end small down breakpoint
	}//end &__title

	&__schedule {
		p {
			font-weight: $font-weight--bold;
		}//end p
	}//end &__schedule

	.rsvp_button {
		line-height: 1 !important;

		@include breakpoint (small down) {
			width: 100%;
		}//end small down breakpoint
	}//end .rsvp_button
}//end .rspv_list