.sl_search {
	overflow: hidden;

	& > .sl_row {
		@include breakpoint (small down) {
			flex-direction: column;
		}//end small down breakpoint
		& > .sl_cell {
			max-height: 100vh;
			overflow-y: scroll;

			@include breakpoint (small down) {
				max-height: none;
			}//end small down breakpoint
		}//end & > .sl_cell
	}//end & > .sl_row

	&__sidebar {

	}//end &__sidebar

	&__results {
		background-color: get-color(primary);
	}//end &__results
}//end sl_search